{% extends 'loan/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<title>Scli | Help</title>

{% if result %}


<div id="#top">

    <div style="background:#f1f1f1;box-shadow:0 0 5px black;padding:10px;">
        {% if result.video %}
            <video controls preload="metadata" class="img-rounded" >
                <source src="/{{result.video.url}}" type="video/{{result.video_type}}">
            </video>
        {% endif %}

        <h1 >{{result.task}}</h1>
        <p class="text-primary" style="padding:10px;">{{result.howto}}</p>
         <center ><i class="text-success"><a href="#top"> Goto Top </a></i>  </center>
 </div>
</div>


{% endif %}


{% endblock content %}