{% extends 'loan/base.html' %}
{% load static from staticfiles %}

{% block content %}

<title>Scli | Home</title>

  <div class="row text-center" style="padding:5px;">
    <div class="col col-md-2 col-md-offset-5 bg-white text-primary" style="box-shadow:0 0 5px deepskyblue;border-radius:20px;padding:10px;margin-top:20px;margin-bottom:20px;">
       <p class="lead text-primary " style="color:white;font-size:30px;text-shadow: 0 0 5px deepskyblue;"><b>HOME</b></p>

        {% if user.is_superuser %}
          <p>
            <a href="admin" class="btn btn-info"><span
                        class="glyphicon glyphicon-info-sign"></span> Admin</a>
          </p>
      {% endif %}
      <a href="{% url 'loan:prediction' %}" class="btn btn-info btn-md " style="margin-bottom:20px;"> Get Started </a>
    </div>
  </div>
<div class="row text-center"><p class="text-primary"><b>Smart Cyber-Loan helps you borrow with a reliable level of financial security.</b></p></div>




{% endblock content %}