{% extends 'loan/base.html' %}
{% load crispy_forms_tags %}

{% block pagehead %}
User Login
{% endblock pagehead %}

{% block links %}
<li><a href="{% url 'loan:home' %}">Home</a></li>
            <li>User Login</li>
{% endblock links %}

{% block content %}
<title>Scli | Login</title>

<div class="row">
    <div class="col col-md-4 offset-md-4" style="box-shadow:0 0 5px black;padding:10px;margin-bottom:20px;">
        <form method="POST" action="" autocomplete="off">
            {% csrf_token %}

                    {{form.username|as_crispy_field}}

                    {{form.password|as_crispy_field}}
            {% for message in messages %}
            <p class="text-danger text-center">
               <b> {{message}} ! </b>
            </p>
            {% endfor %}

            <input type="submit" value="Login" class="btn btn-dark btn-block"></center>
            <center><b><a href="{% url 'loan:create_user' %}#frm-crt" class="text-dark">Sign up</a></b></center>
            <center><b><a href="{% url 'loan:login' %}" class="text-dark">Reload Form</a></b></center>
            <center><b><a href="{% url 'loan:qr' %}" class="text-dark">Use Card</a></b></center>
        </form>


    </div>
</div>

{% endblock content %}