{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <!-- Vendor CSS Files -->
    <link href="{% static 'regna/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'regna/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'regna/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'regna/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'regna/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'regna/assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'regna/assets/css/style.css' %}" rel="stylesheet">

    <!-- fonts -->
    <link rel="stylesheet" href="{% static 'ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

    <!-- =======================================================
    * Template Name: Regna - v2.1.0
    * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="{% url 'loan:home' %}"><h1 class="text-light"> CyberLoan</h1></a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="{% url 'loan:home' %}">Home</a></li>
                <li class="menu-has-children"><a href="">Profile</a>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile:card' %}"> User Card </a></li>
                        <li><a href="{% url 'profile:user-profile' request.user.id %}"> User Profile </a></li>
                        {% endif %}
                        <li class="menu-has-children"><a href="#">Developer</a>
                            <ul>
                                <li><a href="{% url 'profile:user-profile' 7 %}">Dr. Ogunlola S.O</a></li>
                                <li><a href="{% url 'profile:user-profile' 9 %}">Mr. Adesuwa Eniolorunda Olalekan</a></li>
                                <li><a href="{% url 'profile:user-profile' 1 %}">Mr. Adesola Oluwapelumi Samuel</a></li>
                            </ul>
                        </li>
                    </ul>
                <li class="menu-has-children"><a href="">Loan</a>
                    <ul>
                        <li><a href="{% url 'loan:prediction' %}">Predict Loan</a></li>
                        <li><a href="{% url 'loan:prediction_detail' %}"> Successful Predictions</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'loan:about_us' %}">About Us</a></li>
                <li><a href="{% url 'blog:index' %}">News Feeds</a></li>
                <li><a href="{% url 'loan:help' %}"><i class="fa fa-search"></i></a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- End Header -->

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>{% block pagehead %}{% endblock pagehead %}</h2>
                <ol>
                    {% block links %}{% endblock links %}
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page pt-4">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <div class="social">
                <a href="#"><i class="fab fa-instagram text-warning"></i></a>
                <a href="#"><i class="fab fa-google-plus text-danger"></i></a>
                <a href="#"><i class="fab fa-twitter "></i></a>
                <a href="#"><i class="fab fa-facebook text-primary"></i></a>
                <a href="https://chat.whatsapp.com/GSY2xxVeuxqlWHAF6nYinh"><i class="fab fa-whatsapp text-success"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'loan:home' %}" class=" text-success">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'loan:about_us' %}" class=" text-success">About</a></li>
                <li class="list-inline-item"><a href="{% url 'loan:terms_policy' %}" class=" text-success">Terms &
                    Policies</a></li>

                {% if user.is_authenticated %}
                <li class="list-inline-item"><a href="{% url 'loan:logout' %}" class=" text-success">Logout
                    {{request.user}}</a></li>
                {% endif %}


            </ul>
            &copy; Copyright <strong> Cyber-Loan Intelligence</strong> 2021. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top bg-dark"><i class="fa fa-chevron-up"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'regna/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/superfish/superfish.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/hoverIntent/hoverIntent.js' %}"></script>
<script src="{% static 'regna/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'regna/assets/vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'regna/assets/js/main.js' %}"></script>

</body>
</html>